<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Admin.css")" rel = "stylesheet" type="tex/css" />
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
</head>
<body>
    <div>
        @if(TempData["message"] != null)
        {
            <div class="message">@TempData["message"]</div>
        }
        @RenderBody()
    </div>
</body>
</html>
